.chessboard{
        height: 70px;
        width: 500px;
        background-color:rgb(172, 168, 164);
        display: flex;
        flex-direction: row;
}
.child{
    border: 1px solid black;
    width:25%;
    height: 100%;
    align-items:center;
    justify-content:center;
    font-size: 4.5em;
}
/*Pseudo-Class*/
.chessboard:nth-child(2n) .child:nth-child(2n) {
    background-color: black;
    color: white;
}
.chessboard:nth-child(2n-1) .child:nth-child(2n-1) {
    background-color: black;
    color: #ffff;
}
@media screen and (width < 600px){
    .chessboard{
        height:30px;
        width: 200px;
    }
    .child{
        font-size: 2em;
    }
}
   